# direnv
.envrc.local
.envrc.chamber

# testing
/coverage
coverage.out
__snapshots__

# development
/mnt
/tmp
/log

# misc
.DS_Store
.idea
.vscode
*.swp
*.sublime-*

schema.sql

*.stamp

# SQLEditor
*.sqs

# Certs
*.srl
